<h1>Compétences</h1>
<div class="skills-container">
    <div class="skill-section">
        <h2>Technologies</h2>
        <div class="skill-category">
            <h3>Front-end</h3>
            <div class="skill-badges">
                <span class="badge"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg"
                        alt="HTML Logo"> HTML</span>
                <span class="badge"><img
                        src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg"
                        alt="CSS Logo"> CSS</span>
                <span class="badge"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"
                        alt="JavaScript Logo"> JavaScript</span>
                <span class="badge"><img src="https://www.typescriptlang.org/assets/images/icons/256x256.png"
                        alt="TypeScript Logo"> TypeScript</span>
                <span class="badge"><img src="https://angular.io/assets/images/logos/angular/angular.svg"
                        alt="Angular Logo"> Angular 18</span>
                <span class="badge"><img src="https://w7.pngwing.com/pngs/67/315/png-transparent-flutter-hd-logo.png"
                        alt="Flutter Logo"> Flutter</span>
                <span class="badge">PHP</span>
                <span class="badge">Symphony</span>
            </div>
        </div>
        <div class="skill-category">
            <h3>Back-end</h3>
            <div class="skill-badges">
                <span class="badge"><img src="https://www.oracle.com/a/ocom/img/cb71-java-logo.png" alt="Java Logo">
                    Java</span>
                <span class="badge"><img
                        src="https://raw.githubusercontent.com/dotnet/brand/main/dotnet-logo/dotnet-logo-csharp.png"
                        alt="C# Logo"> C#</span>
                <span class="badge"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/.NET_Core_Logo.svg"
                        alt=".NET Logo"> .NET</span>
                <span class="badge"><img src="https://nodejs.org/static/images/logo.svg" alt="Node.js Logo">
                    Node.js</span>
            </div>
            <div class="skill-category">
                <h3>Base de données</h3>
                <div>
                    <div class="skill-badges">

                        <span class="badge">MySQL</span>
                        <span class="badge">PostgreSQL</span>
                        <span class="badge">MongoDB</span>
                        <span class="badge">Elasticsearch</span>
                        <span class="badge">Neo4j</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skill-section">
        <h2>Logiciels</h2>
        <div class="skill-category">
            <h3>IDE</h3>
            <div class="skill-badges">
                <span class="badge">Visual Studio Code</span>
                <span class="badge">IntelliJ IDEA</span>
                <span class="badge">Visual Studio</span>
                <span class="badge">Android Studio</span>
            </div>
        </div>
        <div class="skill-category">
            <h3>Autre</h3>
            <div class="skill-badges">
                <span class="badge"><img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png"
                        alt="Git Logo">
                    Git</span>
                <span class="badge">Docker</span>
                <span class="badge">Figma</span>
            </div>
        </div>
    </div>
    <div class="skill-section">
        <h2>Transversale</h2>
        <div class="skill-category">
            <div class="skill-badges">
                <span class="badge">Prise d'initiative</span>
                <span class="badge">Curieux</span>
                <span class="badge">Créatif</span>
                <span class="badge">Travail d'équipe</span>
            </div>
        </div>
    </div>
</div>