<h1>Parcours</h1>
<div class="parcours-container">
    <div class="parcours">
        <div class="container">
            <div class="corp">
                <h2 class="point-parcours ">Stage et Alternance CORIM Solution</h2>
                <p><b>2023 - 2024</b> <br> CORIM Solution est un éditeur et intégrateur de logiciel de GMAO. Je
                    travaille sur leur produit WEB.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="corp">
                <h2 class="point-parcours">BUT Informatique</h2>
                <p><b>2021 - 2024</b> IUT2 de Grenoble BUT Informatique parcours Développement d'applications</p>
            </div>
        </div>
    </div>
</div>