<h1>Projets</h1>

<div class="container">
    <div class="info">

        <h2>Projet Angular la tour des héros</h2>
        <a href="https://rolm0123456789.github.io/angular-tour-of-heroes" target="_blank"><button class="btn btn-about-me lightblue-btn"><span>Lien vers le
                    projet</span></button></a>
        <img [src]="'assets/angularProjet.png'">
        <p>C'est un projet universitaire, où l'on avait pour consigne que nous devions développer un éditeur de trolls pour son prochain jeu en ligne "Duel de
            Trolls".
            Pour répondre à cette demande, j'ai réalisé une application client riche utilisant Angular. Le projet comprend
            plusieurs
            fonctionnalités, dont un tableau de bord pour afficher les héros les plus marquants et permettre leur édition,
            une liste
            complète des héros avec options d'affichage et de modification, ainsi qu'une fonctionnalité similaire pour les
            armes.
            L'interface d'édition de héros permet de répartir les points de compétence et d'associer des armes, tandis que
            l'édition
            des armes permet de gérer leurs caractéristiques spécifiques. Des améliorations incluent l'utilisation de bases
            de
            données distantes, la gestion d'authentification avec Firebase, et des fonctionnalités avancées comme l'ajout
            d'images,
            l'équipement complet des héros et des mécaniques de jeu pour les duels de héros. Le projet a été versionné sur
            le
            serveur GIT de l’université et utilise des reactive forms pour gérer les données fournies par l'utilisateur.
        </p>
    </div>
</div>