@import './app/Variables.scss';

body {
    background-color: black;
    margin: 0;
    color: white;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 5vw;
}
h2 {
    font-size: 3vw;
    color: $secondary-color;
    font-weight: bold;
}
