@import '../../Variables.scss';
#about-me {
    align-items: center;
    background-size: cover;

    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
}
section {
    position: relative;
}
#about-me .presentation {
    text-align: center;
}

#about-me .presentation {
    .txt-display {
        color: #fcf7f8;
        font-family: Raleway;
        text-shadow: 0.1em 0.1em 0.3em $secondary-color;

        h1 {
            font-size: 2.5vw;
        }
        h2 {
            color: inherit;
            font-family: inherit;
            font-size: 2vw;
            margin: 1.2rem 0 1.5rem;
        }
    }
    .btn-about-me {
        animation-delay: 5s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        color: $primary-color;
        margin: 1vh auto;
        min-width: 5vw;
        a {
            color: $primary-color;
        }
    }
    .btn-about-me:hover {
        background-color: $secondary-color-light;
    }
    .lightblue-btn {
        background-color: transparent;
        border-color: $secondary-color;
        color: $secondary-color;
    }
    .btn,
    .close-btn {
        cursor: pointer;
        transition: 0.3s ease-in-out;
        border: 2px solid;
        border-radius: 5px;
        font-family: Silkscreen;
        padding: 10px 25px;
    }
}

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}
li {
    list-style: none;
}

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,
body {
    width: 100%;
    height: 100%;
    background: #111;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -10;
}
