<section>
    <div id="about-me">
        <div class="presentation">
            <div class="txt-display">
                <h1 class="">Romain VERGUET</h1>
                <h2 class="">Développeur d'application</h2>
            </div>
            <a href="Accueil#presentation"><button class="btn btn-about-me lightblue-btn"><span>Plus d'info</span></button></a>
        </div>
    </div>
</section>
<div id="particles-js"></div>
<app-presentation></app-presentation>
<app-parcours></app-parcours>
<app-competences></app-competences>
<app-projets></app-projets>