<div id="presentation">
    <h1>A propos de moi</h1>
    <div id="description">
        <p>Bonjour,</p>
        <p>Actuellement en dernière année de <a href="https://iut2.univ-grenoble-alpes.fr/iut2/accueil-iut2-998644.kjsp"
                target="_blank">BUT Informatique à l'IUT2 de Grenoble</a>, je me spécialise dans le développement web
            avec
            une expertise particulière en Angular 18 et .NET. Je travaille en alternance
            chez <a href="https://www.corim-solutions.com/fr" target="_blank">CORIM
                Solutions</a>, une entreprise spécialisée dans la GMAO (Gestion de Maintenance Assistée par Ordinateur),
            où j'ai
            l'opportunité de développer des logiciels internes.</p>
        <p> Passionné par le développement d'applications en
            général, je
            m'épanouis aussi bien dans la conception que dans l'implémentation de solutions innovantes. J'apprécie
            particulièrement le
            travail en équipe et suis à l'aise avec des outils de collaboration comme Git.</p>
        <p> Après
            l'obtention de mon
            diplôme, je prévois de poursuivre mes études en Mastère Architecture Logicielle à l'ESGI. Mon objectif est
            de continuer
            à
            approfondir mes compétences en développement logiciel et en architecture tout en contribuant à des projets
            collaboratifs
            ambitieux.
        </p>
    </div>
</div>